<mat-card class="content-card">
    <ol>
        <li>Untuk akses menu mohon klik icon  <mat-icon>menu</mat-icon>  yang berada di pojok kiri atas.</li><br/>
        <li>Untuk logout mohon klik icon  <mat-icon>person</mat-icon>  yang berada di pojok kanan atas, kemudian klik icon  <mat-icon>logout</mat-icon></li><br/>
        <li>List Employee, default sorting berdasarkan id terakhir. Jadi ketika sukses create employee, data employee akan berada di paling atas. Hal ini akan berubah apabila ada aktivitas sorting, paging & filtering.</li><br/>
        <li>Berdasarkan soal, kolom deskripsi tipe data datetime. Jadi secara form saya bikin datepicker.</li><br/>
        <li>Untuk menampilkan datepicker, mohon klik icon  <mat-icon>today</mat-icon>   pada setiap field.</li><br/>
    </ol>
</mat-card>


